

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-behavior: smooth;

}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.inicio{
  margin: 10px;
  background-color: white;
  padding: 10px;
}

.c{
  background-color: $fondo;
  width: 100%;

}

.rrss{
  color: rgba(255, 255, 255, 0.5);
  i,a{
    height: 100%;
    margin: 20px;
    @include zoom;
  }
  .rrss:hover{
    color: white;
  }

}

.img-port{
  @include border-radius(30%);
  align-items: center;
  width: 23em;
  height: 35em;
  padding-top: 4rem;
  padding-bottom: 2rem;
  margin: auto;
}


@media (max-width: 480px) {
  .glitch {
display: none;
   }
   .cv-resume{

   }
   .cv-description{

   }
   .description_me{
     display: none;
   }
   .curr{display: none;}

   .LI-profile-badge{display: none;}

}
@media (max-width: 568px){
  .glitch {
  display: none;
   }
   .LI-profile-badge{display: none;}

  }

  @media (max-width: 640px) {
    .glitch {
  display: none;
     }
     .LI-profile-badge{display: none;}

  }

  @media (max-width: 768px) {
    .LI-profile-badge{display: none;}

  }
  @media (max-width: 812px) {
    .LI-profile-badge{display: none;}


  }



.glitch {
    color: white;
    font-size: 100px;
    position: relative;
    width: 650px;
    margin: 0 auto;
    font-family: 'Varela', sans-serif;
    text-align:center;

 }
.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 16px;
    text-align:center;

    text-shadow: -1px 0 red;
    top: 0;
    color: $white;
    background:$fondo;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    text-align:center;

    left: 8px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: $white;
    background:$fondo;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);

    animation: noise-anim-2 3s infinite linear alternate-reverse;

}

.text-main{
  font-family: $font-primary ;
  color: $white;
  //text-align: justify;

}

.line-bottom{
  border-top: 1px solid #cccccc;
  //width: 90%;
  margin: auto;
  margin-top: 20px;
  display:grid;
  grid-template-columns: [main-start] auto [main-end]0.5fr ;
  grid-template-rows: [main-start] auto [main-end];
  grid-gap: 2em;
}

.description_me{
  //margin: 2rem;
  //padding-left: 2rem;
  p{
    text-align: justify;
  }

}

.cv-resume{
  //padding: 2rem;
  //margin: 2rem;
}

.cv-description{
  padding-top: 15px;
  //margin: 15px;
  div{
    padding: 5px;
  }
}


.c{
    display: block;
    width: 100%;
    padding: 1em;
    text-align: center;

  }
