@font-face {
	font-family: 'Montserrat';

}

$font-primary : 'Montserrat', sans-serif;


$black: #222222;
$white: #ffffff;
$gris:#f0f0f0;
$info:#17a2b8;
$fondo: #343a40;
$purple: #AC8EC9;
// Global

.bold{
  font-weight: bold;
  font-size: 1.2rem;
}
.normal{
  font-weight: normal;
  font-size: 1.1rem;

}

h1, h2, h3, h4, h5,h6,p{
  color: $white;
  font-family: $font-primary;

}

.cv-resume{

  h5{
  //color: $purple;
}
  h6{
  //color: rgba(#eeebeb, 0.72);
  //padding-left: 2rem;
  }
  h1{
    //padding-left: 2rem;
    font-weight: bold;
  }

}
.p_b{
	//padding-left: 2rem;
	color: rgba(#eeebeb, 0.72);
}

.resumes{
	h6{
		color: rgba(#eeebeb, 0.72);

	}
}

.black{
	color: $black;
}
